footer.footer
  p.footer__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias nisi alias porro?
  +b.social
    +e.link(href="#") test
  button
    +icon('search')(width=20, height=20)
