// Пример
// @font-face {
//   font-family: 'MyWebFont';
//   font-style: normal;
//   font-weight: 400;
//   src: url('webfont.eot');
//   src: url('webfont.eot?#iefix') format('embedded-opentype'),
//        url('webfont.woff2') format('woff2'),
//        url('webfont.woff') format('woff'),
//        url('webfont.otf')  format('opentype'),
//        url('webfont.ttf')  format('truetype'),
//        url('webfont.svg#svgFontName') format('svg');
// }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/robotoregular.woff2") format("woff2"),
       url("../fonts/robotoregular.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/robotomedium.woff2") format("woff2"),
       url("../fonts/robotomedium.woff") format("woff");
}


@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/robotobold.woff2") format("woff2"),
       url("../fonts/robotobold.woff") format("woff");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  background-color: #fcfcfc;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
